---
import Navigation from "../components/Navigation.astro";
import Notification from "../components/Notification.astro";
import ProductCard from "../components/ProductCard.astro";
import Footer from "../components/Footer.astro";
import Faq from "../components/Faq.astro";
import Base from "../layouts/Base.astro";
import Image from "astro/components/Image.astro";

const products = [
  {
    title: "Nobus Split",
    text: "Tepelná čerpadla VZDUCH-VODA NOBUS poskytují moderní řešení pro chlazení i topení. Vnější a vnitřní jednotka jsou propojeny chladivovým potrubím. Díky teplovodním součástkám vnitřní jednotka odolá mrazivým teplotám.",
    link: "/co-je-nobus",
    image: "/nobus-jednotka.png"
  },
  {
    title: "Nobus Monoblok",
    text: "Monoblok nabízí kompaktní řešení pro chlazení i vytápění. Díky chladivu R32 umožňuje ohřev i kompletní vytápění domu, čímž poskytuje ekologickou alternativu k tradičním kotlům.",
    link: "/co-je-nobus",
    image: "/nobus-jednotka.png"
  }
];
---

<Base>
	<div class="text-white background-w-gradient w-[100%] overflow-hidden">
		<Navigation />
		<header class="flex flex-col gap-8 py-3 px-5 md:px-10 lg:px-14 h-[474px] min-h-fit justify-center items-start sm:items-center">
			<div class="flex flex-col gap-[10px] items-start sm:items-center font-black">
				<p>Jsme NOBUS</p>
				<h1 class="sm:text-[56px] text-[44px] uppercase line leading-tight text-gradient sm:text-center">Na tahle čerpadla<br>se spolehněte</h1>
			</div>
			<div class="flex flex-col gap-10 items-start sm:items-center">
				<p class="max-w-[444px] text-start sm:text-center">
					Nobus klimatizace přináší rychlé chlazení i vytápění, stylový design pro každý interiér a snadnou instalaci. Vysoká kvalita za dostupnou cenu, vždy skladem v ČR.
				</p>
				<div class="flex flex-row flex-wrap gap-5 font-semibold">
					<a href="#contact-form" class="text-mediumBlue bg-white px-5 py-[10px] rounded-[3px]">Odebírejte nás</a>
					<a href="/co-je-nobus" class="text-white bg-buttonGradientDark px-5 py-[10px] rounded-[3px] relative">
						O produktech
					</a>
				</div>
			</div>
		</header>
	</div>

	<Notification text="Zaměřujeme se spíše na B2B trh, máte-li zájem o klimatizace či tepelná čerpadla NOBUS pro Váš domov, zkontaktujte B2C dodavatele." />

	<div class="flex flex-col w-[1040px] max-w-full px-5 md:px-10 lg:px-0 mx-auto">
		<div class="flex flex-col lg:flex-row w-full pt-20 pb-10 gap-10 mx-auto" id="produkty">
			{products.map((product) => (
				<ProductCard 
				  title={product.title}
				  text={product.text}
				  link={product.link}
				  image={product.image}
				/>
			  ))}
		</div>
	
		<div class="flex flex-col items-center w-full mb-10 mx-auto border border-darkLight p-[30px] gap-5 rounded-[3px] text-center bg-contactGradient">
			<Image loading="lazy" src="/izabella.png" alt="Obchodní zástupkyně" height="146" width="188" class="border-b border-lightBlue"/>
			<div class="flex flex-col gap-[10px]">
				<h2 class="text-[44px] font-extrabold text-mediumBlue">Nechte si od nás poradit.<br>ZDARMA!</h2>
				<p class="max-w-[600px]">Máte jakýkoliv dotaz ohledně produktů? nejste si něčím jisti?<br>Zavolejte nám, nebo klidně napište mail, jsme připraveni Vám s čímkoliv kdykoliv poradit.</p>
			</div>
			<div class="flex flex-col lg:flex-row gap-5 font-medium text-white">
				<a href="mailto:obchod@oneklima.cz" class="flex flex-row bg-darkBlue px-5 py-[10px] rounded-[3px] gap-[10px] bg-buttonGradientBlue">
					<Image loading="lazy" src="/mail.svg" alt="ikona mailu" height="16" width="16" />
					obchod@oneklima.cz
				</a>
				<a href="tel:+420725001282" class="flex flex-row bg-darkBlue px-5 py-[10px] rounded-[3px] gap-[10px] bg-buttonGradientBlue">
					<Image loading="lazy" src="/telefon.svg" alt="ikona telefonu" height="16" width="16" />
					+420 725 001 282
				</a>
			</div>
		</div>
	</div>

	<Faq>
		<h2>Často kladené otázky</h2>
	</Faq>
	<Notification text="Jste přímý zákazník/spotřebitel? Zaměřujeme se na velkoobchod, pro nabídku pro spotřebitele klikněte" />

	<Footer />
</Base>