---
const {text} = Astro.props;
---

<div class="bg-notificationGradient flex flex-row justify-center text-white py-[6px] px-5 md:px-10 lg:px-14">
	<p>
		{text}
		<a href="https:/oneklima.cz" target="_blank" class="underline text-lightBlue">zde</a>
	</p>
</div>