---
const {text} = Astro.props;
---

<div class="bg-notificationGradient flex flex-row justify-center text-white py-[6px]">
	<p>
		{text}
		<a href="" class="underline text-lightBlue">zde</a>
	</p>
</div>